{% extends 'base.html.twig' %}

{% block title %}

	Valider les demandes
{% endblock %}

{% block body %}
	<style>
		h1,
		.icon {
			color: #05459D;
		}
		h1 {
			border-bottom: 3px solid #05459D;
			padding-bottom: 10px;
		}
	</style>
	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	{% endblock %}
	<br>

	<h1>
		<span class="icon">
			<i class="bi bi-list-check"></i>
		</span>Valider les demandes
	</h1>
	<br>
	<div class="card shadow-sm">
		<div class="card-header bg-light">
			<h4 class="card-title mb-0 text-muted">Rechercher</h4>
		</div>
		<div class="card-body">
			<div class="form-row">
				<div class="col">
					<label for="searchInputName" class="form-label">Rechercher par nom:</label>
					<input type="text" class="form-control" id="searchInputName" placeholder="Entrez le nom de l'employé">
				</div>
				<div class="col">
					<label for="searchInputMonth" class="form-label">Rechercher par mois:</label>
					<input type="text" class="form-control" id="searchInputMonth" placeholder="Entrez le mois de la mission">
				</div>

			</div>
		</div>
	</div>
	<br>
	<table class="table table-hover">
		<thead>
			<tr class="table-primary" align="center">
				<th>Numéro Mission</th>
				<th>Date creation</th>
				<th>Destination</th>
				<th>Sujet</th>
				<th>Date Debut</th>
				<th>Date Fin</th>
				<th>Categorie</th>
				<th>Accompagnent</th>
				<th>Demandeur</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody class="table-group-divider" align="center">
			{% for Miss in Mission %}
				<tr align="center">
					<td>
						{{Miss.numMiss}}
					</td>
					<td class="table-light">
						{{Miss.DateCreation|date('d-m-Y')}}
					</td>
					<td>
						{{Miss.Destination}}
					</td>
					<td class="table-light">
						{{Miss.Sujet}}
					</td>
					<td>
						{{Miss.DateDebut|date('d-m-Y H:i:s')}}
					</td>

					<td class="table-light">
						{{Miss.DateFin|date('d-m-Y H:i:s')}}
					</td>

					<td>
						{{Miss.categorie}}
					</td>

					<td class="table-light">
						{% for e in Miss.Employes %}
							{{e}}
							/
						{% endfor %}

					</td>
					<td>

						{% for emp in employe %}
							{% if Miss.user is not null and emp.user is not null and Miss.user.id == emp.user.id %}
								{{ emp.NomPrenom }}
							{% endif %}
						{% endfor %}
					</td>
					<td class="table-light">

						<a class="btn btn-primary" href="{{ path('mission_valid',{id: Miss.id})}}" onclick="return confirm('Etes-vous sur de valider cet mission ?')">
							<i class="bi bi-check2-circle"></i>valider</a>

					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		// Obtenir les éléments des champs de recherche
var searchBoxName = document.getElementById("searchInputName");
var searchBoxMonth = document.getElementById("searchInputMonth");

// Ajouter un event listener aux champs de recherche
searchBoxName.addEventListener("keyup", filterTable);
searchBoxMonth.addEventListener("keyup", filterTable);

function filterTable() {
var searchTermName = searchBoxName.value.toLowerCase().trim();
var searchTermMonth = searchBoxMonth.value.toLowerCase().trim();
var rows = document.querySelectorAll("table tbody tr");

// Boucle sur toutes les lignes du tableau
for (var i = 0; i < rows.length; i++) {
var rowTextName = rows[i].querySelectorAll("td")[8].textContent.toLowerCase().trim();
var rowTextMonth = rows[i].querySelectorAll("td")[4].textContent.toLowerCase().trim();

// Masquer la ligne si le terme de recherche n'est pas trouvé
if (searchTermName !== "" && rowTextName.indexOf(searchTermName) === -1) {
rows[i].style.display = "none";
} else if (searchTermMonth !== "" && rowTextMonth.indexOf(searchTermMonth) === -1) {
rows[i].style.display = "none";
} else {
rows[i].style.display = "";
}
}
}
	</script>
{% endblock %}
